USE [master]
GO
/****** Object:  Database [VatLieuDB]    Script Date: 10/05/2015 10:45:01 ******/
CREATE DATABASE [VatLieuDB] ON  PRIMARY 
( NAME = N'VatLieuDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DINHKIENANH\MSSQL\DATA\VatLieuDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VatLieuDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DINHKIENANH\MSSQL\DATA\VatLieuDB_1.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VatLieuDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VatLieuDB]
GO
/****** Object:  Table [dbo].[tblKhuVuc]    Script Date: 10/05/2015 10:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhuVuc](
	[KhuVucID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TenKhuVuc] [nvarchar](250) NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[KhuVucID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[tblKhuVuc]([PK_KhuVuc]) WITH STATS_STREAM = 0x010000000100000000000000000000004C2FF3A7000000000802000000000000C8010000000000006C0300006C000000090012000000000000000000E8FFFFFF07000000D333060148A10000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000019000000000010410000804000000000000010410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000006C00000000000000180000000000000034000000000000005000000000000000100019000000803F000000000000803F010100000000000000040000100019000000803F0000803F0000803F010300000000000000040000100019000000803F000000000000803F010700000000000000040000, ROWCOUNT = 4, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[tblKhuVuc] ON
INSERT [dbo].[tblKhuVuc] ([KhuVucID], [TenKhuVuc]) VALUES (CAST(1 AS Numeric(18, 0)), N'TP Hồ Chí Minh')
INSERT [dbo].[tblKhuVuc] ([KhuVucID], [TenKhuVuc]) VALUES (CAST(2 AS Numeric(18, 0)), N'Đà Nẵng')
INSERT [dbo].[tblKhuVuc] ([KhuVucID], [TenKhuVuc]) VALUES (CAST(3 AS Numeric(18, 0)), N'Hà Nội')
SET IDENTITY_INSERT [dbo].[tblKhuVuc] OFF
/****** Object:  Table [dbo].[tblNguoiDung]    Script Date: 10/05/2015 10:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNguoiDung](
	[TaiKhoan] [nvarchar](250) NOT NULL,
	[MatKhau] [nvarchar](250) NULL,
	[HoTen] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[SoDienThoai] [nvarchar](250) NULL,
	[QuyenHan] [nvarchar](250) NULL,
 CONSTRAINT [PK_tblNguoiDung] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_75A278F5] ON [dbo].[tblNguoiDung]([MatKhau]) WITH STATS_STREAM = 0x01000000010000000000000000000000887447F8000000001302000000000000D301000000000000E7020000E7000000F40100000000000008D00034040000000700000098A7B00028A5000003000000000000000300000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C04000004040000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000025000000000000005F00000000000000670000000000000008000000000000003000100000004040000000000000803F04000001001D00310032003300FF0100000000000000030000000100000028000000280000000000000000000000030000003100320033000200000040000000000303000000000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_75A278F5] ON [dbo].[tblNguoiDung]([HoTen]) WITH STATS_STREAM = 0x01000000010000000000000000000000DC52717700000000B2020000000000007202000000000000E7020000E7000000F40100000000000008D00034000000000700000098A7B00028A50000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000ABAACA410000404000000000ABAACA410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000007400000000000000FE00000000000000060100000000000010000000000000004100000000000000300010000000803F000000000000803F04000001003100100169006E00680020001001AF1E63002000450053006F006E00300010000000803F0000803F0000803F040000010033004E00670075007900C51E6E002000560003016E002000480075007900FF010000000000000003000000030000002800000028000000000000000000000026000000100169006E00680020001001AF1E63002000450053006F006E004C00EA0020004800D31E6E006700200041006E0068004E00670075007900C51E6E002000560003016E002000480075007900040000004000000000810D000000810B0D0000010E180000000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_75A278F5] ON [dbo].[tblNguoiDung]([Email]) WITH STATS_STREAM = 0x010000000100000000000000000000009CCDF74C0000000063030000000000002303000000000000E7020000E7000000F40100000000000008D00034010000000700000098A7B00028A500000300000000000000030000000000000000000000ABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000003000000010000001000000000003842000040400000000000003842000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000E700000000000000AF01000000000000B701000000000000180000000000000059000000000000009E00000000000000300010000000803F000000000000803F040000010041006700690061006E0067006E0061006D006E0061006D00400067006D00610069006C002E0063006F006D00300010000000803F000000000000803F0400000100450068006F0061006E00670061006E006800350035003500400068006F0074006D00610069006C002E0063006F006D00300010000000803F000000000000803F040000010049006E0067007500790065006E00760061006E0068007500790035003700340040007900610068006F006F002E0063006F006D00FF0100000000000000030000000300000028000000280000000000000000000000450000006700690061006E0067006E0061006D006E0061006D00400067006D00610069006C002E0063006F006D0068006F0061006E00670061006E006800350035003500400068006F0074006D00610069006C002E0063006F006D006E0067007500790065006E00760061006E0068007500790035003700340040007900610068006F006F002E0063006F006D000400000040000000008115000000811715000001192C0000000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_75A278F5] ON [dbo].[tblNguoiDung]([SoDienThoai]) WITH STATS_STREAM = 0x0100000001000000000000000000000022511BAB00000000C7020000000000008702000000000000E7020000E7000000F40100000000000008D00034000000000700000097A7B00028A500000300000000000000030000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000A04100004040000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000990000000000000013010000000000001B01000000000000180000000000000043000000000000006E00000000000000300010000000803F000000000000803F04000001002B003000390031003300370032003800340038003600300010000000803F000000000000803F04000001002B003000390038003200390032003500330036003500300010000000803F000000000000803F04000001002B003000390038003800310032003500340036003700FF01000000000000000300000003000000280000002800000000000000000000001900000030003900310033003700320038003400380036003800320039003200350033003600350038003100320035003400360037000600000040000000004002000000810802000040010A000081070B00000107120000000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_75A278F5] ON [dbo].[tblNguoiDung]([QuyenHan]) WITH STATS_STREAM = 0x010000000100000000000000000000002707B027000000006E020000000000002E02000000000000E7020A82E7000000F40100000000000008D00034F03F11060700000092A7B00028A50000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000040410000404000000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005800000000000000BA00000000000000C20000000000000010000000000000003100000000000000300010000000803F000000000000803F04000001002100410064006D0069006E00300010000000803F0000803F0000803F040000010027004E006800610070004C00690065007500FF010000000000000003000000030000002800000028000000000000000000000012000000410064006D0069006E004B0068006100630068004E006800610070004C006900650075000400000040000000008105000000810505000001080A0000000300000000000000
GO
UPDATE STATISTICS [dbo].[tblNguoiDung]([PK_tblNguoiDung]) WITH STATS_STREAM = 0x01000000010000000000000000000000D0A0A92A000000005E020000000000001E02000000000000E7030000E7000000F40100000000000008D00034E700000007000000ADD2F80048A10000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000040410000404000000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000005800000000000000BA0000000000000010000000000000003100000000000000300010000000803F000000000000803F0400000100210061006E00680068007400300010000000803F0000803F0000803F040000010027006E006800610070006C00690065007500FF01000000000000000300000003000000280000002800000000000000000000001200000061006E006800680074006B0068006100630068006E006800610070006C006900650075000400000040000000008105000000810505000001080A000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
INSERT [dbo].[tblNguoiDung] ([TaiKhoan], [MatKhau], [HoTen], [Email], [SoDienThoai], [QuyenHan]) VALUES (N'admin', N'123', N'Đinh Đắc ESon', N'giangnamnam@gmail.com', N'0982925365', N'Admin')
INSERT [dbo].[tblNguoiDung] ([TaiKhoan], [MatKhau], [HoTen], [Email], [SoDienThoai], [QuyenHan]) VALUES (N'khach', N'123', N'Lê Hồng Anh', N'hoanganh555@hotmail.com', N'0988125467', N'Khach')
INSERT [dbo].[tblNguoiDung] ([TaiKhoan], [MatKhau], [HoTen], [Email], [SoDienThoai], [QuyenHan]) VALUES (N'nhaplieu', N'123', N'Nguyễn Văn Huy', N'nguyenvanhuy574@yahoo.com', N'0913728486', N'NhapLieu')
/****** Object:  Table [dbo].[tblDonViTinhGia]    Script Date: 10/05/2015 10:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDonViTinhGia](
	[DonViTinhGiaID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[LoaiTienTe] [nvarchar](250) NULL,
 CONSTRAINT [PK_tblDonViTinhGia] PRIMARY KEY CLUSTERED 
(
	[DonViTinhGiaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[tblDonViTinhGia]([PK_tblDonViTinhGia]) WITH STATS_STREAM = 0x010000000100000000000000000000002492ACF8000000000802000000000000C8010000000000006C0300006C000000090012000000000000000000530074000700000030230B0148A10000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000019000000000010410000804000000000000010410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000006C00000000000000180000000000000034000000000000005000000000000000100019000000803F000000000000803F010100000000000000040000100019000000803F0000803F0000803F010300000000000000040000100019000000803F000000000000803F010400000000000000040000, ROWCOUNT = 4, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[tblDonViTinhGia] ON
INSERT [dbo].[tblDonViTinhGia] ([DonViTinhGiaID], [LoaiTienTe]) VALUES (CAST(1 AS Numeric(18, 0)), N'VNĐ')
INSERT [dbo].[tblDonViTinhGia] ([DonViTinhGiaID], [LoaiTienTe]) VALUES (CAST(2 AS Numeric(18, 0)), N'EUR')
INSERT [dbo].[tblDonViTinhGia] ([DonViTinhGiaID], [LoaiTienTe]) VALUES (CAST(3 AS Numeric(18, 0)), N'AUD')
SET IDENTITY_INSERT [dbo].[tblDonViTinhGia] OFF
/****** Object:  Table [dbo].[tblDonViTinh]    Script Date: 10/05/2015 10:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDonViTinh](
	[DonViTinhID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TenDonViTinh] [nvarchar](250) NULL,
 CONSTRAINT [PK_DonViTinh] PRIMARY KEY CLUSTERED 
(
	[DonViTinhID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[tblDonViTinh]([PK_DonViTinh]) WITH STATS_STREAM = 0x01000000010000000000000000000000713C14FE000000000802000000000000C8010000000000006C0300006C0000000900120000000000000000000000000007000000EF33060148A10000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000019000000000010410000804000000000000010410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000006C00000000000000180000000000000034000000000000005000000000000000100019000000803F000000000000803F010100000000000000040000100019000000803F0000803F0000803F010300000000000000040000100019000000803F000000000000803F010400000000000000040000, ROWCOUNT = 4, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[tblDonViTinh] ON
INSERT [dbo].[tblDonViTinh] ([DonViTinhID], [TenDonViTinh]) VALUES (CAST(1 AS Numeric(18, 0)), N'Lit')
INSERT [dbo].[tblDonViTinh] ([DonViTinhID], [TenDonViTinh]) VALUES (CAST(2 AS Numeric(18, 0)), N'Kg')
INSERT [dbo].[tblDonViTinh] ([DonViTinhID], [TenDonViTinh]) VALUES (CAST(3 AS Numeric(18, 0)), N'Ha')
SET IDENTITY_INSERT [dbo].[tblDonViTinh] OFF
/****** Object:  Table [dbo].[tblDanhMucHang]    Script Date: 10/05/2015 10:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDanhMucHang](
	[DanhMucHangID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](250) NULL,
 CONSTRAINT [PK_LoaiHang] PRIMARY KEY CLUSTERED 
(
	[DanhMucHangID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_7A672E12] ON [dbo].[tblDanhMucHang]([TenHang]) WITH STATS_STREAM = 0x010000000100000000000000000000001AE452C400000000EB07000000000000AB07000000000000E7020000E7000000F40100000000000008D000340000000007000000C2D6DF0049A100001C000000000000001C000000000000000000803F2549123D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001A0000001A00000001000000100000009224A1410000E041000000009224A1410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000003E050000000000004706000000000000D000000000000000090100000000000038010000000000006301000000000000A201000000000000C501000000000000E001000000000000FD010000000000001A0200000000000053020000000000008A02000000000000C902000000000000FA02000000000000190300000000000044030000000000007903000000000000A003000000000000C103000000000000E803000000000000050400000000000022040000000000005D040000000000008204000000000000C304000000000000FA040000000000001905000000000000300010000000803F000000000000803F040000010039004200EA0020005400F4006E00670020004E006800F11E610020004E00F3006E006700300010000000803F000000000000803F04000001002F004200EA0020005400F4006E00670020005400B001A1016900300010000000803F000000000000803F04000001002B004200D91E740020004B0068006F00E1006E006700300010000000803F0000803F0000803F04000001003F004300CD1E630020006200EA0020007400F4006E00670020006300D11E7400200074006800E9007000300010000000803F000000000000803F040000010023004300ED1E610020006700D71E300010000000803F000000000000803F04000001001B001001E100300010000000803F000000000000803F04000001001D001001A51E7400300010000000803F000000000000803F04000001001D004400A71E7500300010000000803F000000000000803F040000010039004400E2007900200011016900C71E6E0020006300E1007000200011016900C71E6E00300010000000803F000000000000803F040000010037001001E8006E0020004C006500640020005400ED006E00200048006900C71E7500300010000000803F000000000000803F04000001003F004700A11E6300680020004E006700F30069002C001101E10020004700720061006E00740069006500300010000000803F000000000000803F040000010031004700D71E20006300D11E7000200070006800610020006700D71E300010000000803F000000000000803F04000001001F004B00ED006E006800300010000000803F0000803F0000803F04000001002B004E006800F11E610020001101B001DD1E6E006700300010000000803F000000000000803F04000001003500D01E6E00670020006300D11E6E00670020006C00790020007400E2006D00300010000000803F000000000000803F04000001002700D01E6E00670020006E006800F11E6100300010000000803F000000000000803F040000010021005200CD1E20001101E100300010000000803F000000000000803F040000010027005300AF1E7400200054006800E9007000300010000000803F000000000000803F04000001001D005300CF1E6900300010000000803F000000000000803F04000001001D005400F4006E00300010000000803F000000000000803F04000001003B0054007200E51E20006200EA0020007400F4006E00670020006C00790020007400E2006D00300010000000803F000000000000803F0400000100250054007200E51E20001101E8006E00300010000000803F000000000000803F0400000100410054007200E51E20001101E8006E0020007400ED006E00200068006900C71E750020006700690061006F00300010000000803F000000000000803F040000010037005600A31E690020001101CB1E610020006B00F91E2000740068007500AD1E7400300010000000803F000000000000803F04000001001F00580003016E006700300010000000803F000000000000803F040000010025005800690020004D0003016E006700FF01000000000000000B0000000B000000280000002800000000000000000000004F0000004200EA0020005400F4006E00670020004E006800F11E610020004E00F3006E0067004300E10074001001E1004400A71E75004700A11E6300680020004E006700F30069002C001101E10020004700720061006E007400690065004B00ED006E006800D01E6E00670020006300D11E6E00670020006C00790020007400E2006D005200CD1E20001101E1007200E51E20001101E8006E00580003016E0067000D00000040000000008111000000810311000081031600008102140000811419000081042D0000810F3100008105400000C0010300008102040000010645000001044B000000
GO
UPDATE STATISTICS [dbo].[tblDanhMucHang]([PK_LoaiHang]) WITH STATS_STREAM = 0x010000000100000000000000000000001B0E29FF00000000B80300000000000078030000000000006C0370006C000000090012000000000000000000803F000007000000B4D3020148A100001C000000000000001C000000000000000000803F2549123D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F0000000F0000000100000019000000000010410000E04100000000000010410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000001C0200000000000078000000000000009400000000000000B000000000000000CC00000000000000E800000000000000040100000000000020010000000000003C01000000000000580100000000000074010000000000009001000000000000AC01000000000000C801000000000000E4010000000000000002000000000000100019000000803F000000000000803F010100000000000000040000100019000000803F0000803F0000803F010300000000000000040000100019000000803F0000803F0000803F010500000000000000040000100019000000803F0000803F0000803F010700000000000000040000100019000000803F0000803F0000803F010900000000000000040000100019000000803F0000803F0000803F010B00000000000000040000100019000000803F0000803F0000803F010D00000000000000040000100019000000803F0000803F0000803F010F00000000000000040000100019000000803F0000803F0000803F011100000000000000040000100019000000803F0000803F0000803F011300000000000000040000100019000000803F0000803F0000803F011500000000000000040000100019000000803F0000803F0000803F011700000000000000040000100019000000803F0000803F0000803F011900000000000000040000100019000000803F0000803F0000803F011B00000000000000040000100019000000803F000000000000803F012600000000000000040000, ROWCOUNT = 28, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[tblDanhMucHang] ON
INSERT [dbo].[tblDanhMucHang] ([DanhMucHangID], [TenHang]) VALUES (CAST(1 AS Numeric(18, 0)), N'Xăng')
INSERT [dbo].[tblDanhMucHang] ([DanhMucHangID], [TenHang]) VALUES (CAST(2 AS Numeric(18, 0)), N'Dầu')
INSERT [dbo].[tblDanhMucHang] ([DanhMucHangID], [TenHang]) VALUES (CAST(3 AS Numeric(18, 0)), N'Sắt Thép')
SET IDENTITY_INSERT [dbo].[tblDanhMucHang] OFF
/****** Object:  StoredProcedure [dbo].[SP_DeleteDVTGia]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteDVTGia] (
	@DonViTinhGiaID numeric(18, 0) 
) AS
BEGIN
	delete from tblDonViTinhGia  where DonViTinhGiaID=@DonViTinhGiaID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDonViTinh]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteDonViTinh]
(
	@DonViTinhID numeric(18,0) 
)
AS
BEGIN
	delete from tblDonViTinh   where DonViTinhID=@DonViTinhID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDanhMucHang]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteDanhMucHang]
	(
		@DanhMucHangID numeric(18, 0)
		
)
 AS
BEGIN
	delete from tblDanhMucHang where DanhMucHangID = @DanhMucHangID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteKhuVuc]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DeleteKhuVuc] (@ID numeric(18,0))
AS
BEGIN
delete from tblkhuvuc where khuvucid = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertDVTGia]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertDVTGia] (
	@LoaiTienTe nvarchar(250)
) AS
BEGIN
	insert into tblDonViTinhGia values (@LoaiTienTe)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertDonViTinh]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertDonViTinh]
(
	
	@TenDonViTinh nvarchar(250)
)
AS
BEGIN
	insert into tblDonViTinh values (@TenDonViTinh)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertDanhMucHang]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertDanhMucHang]
	(
		
		@TenHang nvarchar(250)
)
 AS
BEGIN
	insert into tblDanhMucHang values(@TenHang)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllKhuVuc]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_GetAllKhuVuc]
AS
BEGIN
	select * from tblkhuvuc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDVTGia]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateDVTGia] (
	@DonViTinhGiaID numeric(18, 0),
	@LoaiTienTe nvarchar(250)
) AS
BEGIN
	update tblDonViTinhGia set LoaiTienTe=@LoaiTienTe where DonViTinhGiaID=@DonViTinhGiaID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDonViTinh]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateDonViTinh]
(
	@DonViTinhID numeric(18,0),
	@TenDonViTinh nvarchar(250)
)
AS
BEGIN
	update tblDonViTinh set TenDonViTinh = @TenDonViTinh where DonViTinhID=@DonViTinhID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDanhMucHang]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateDanhMucHang]
	(
		@DanhMucHangID numeric(18, 0),
		@TenHang nvarchar(250)
)
 AS
BEGIN
	update tblDanhMucHang set TenHang = @TenHang where DanhMucHangID = @DanhMucHangID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertKhuVuc]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_InsertKhuVuc]
(
	@Name nvarchar(250)
)
as insert into tblkhuvuc values(@Name);
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteNguoiDung]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DeleteNguoiDung]
(
	@TaiKhoan nvarchar(250)
) AS
BEGIN
delete from tblnguoidung where TaiKhoan = @TaiKhoan
END
GO
/****** Object:  Table [dbo].[tblLoaiHang]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiHang](
	[LoaiHangID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TenLoaiHang] [nvarchar](250) NULL,
	[DanhMucHangID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_LoaiHang_1] PRIMARY KEY CLUSTERED 
(
	[LoaiHangID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_09A971A2] ON [dbo].[tblLoaiHang]([TenLoaiHang]) WITH STATS_STREAM = 0x01000000010000000000000000000000732CF06A0000000099040000000000005904000000000000E7020000E7000000F40100000000000008D000340000000007000000639CF00049A100000D000000000000000D000000000000000000803FD9899D3D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000009000000090000000100000010000000D9899D410000504100000000D9899D41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000DB01000000000000F50200000000000048000000000000008500000000000000C200000000000000EF0000000000000014010000000000003F0100000000000068010000000000008B01000000000000B601000000000000300010000000803F000000000000803F04000001003D004200EA0020005400F4006E00670020006E006800F11E610020006E00F3006E00670020003100300010000000803F000000000000803F04000001003D004200EA0020005400F4006E00670020005400B001A101690020004C006F00A11E690020004900300010000000803F000000000000803F04000001002D004300E1007400200054007200AF1E6E00670020003100300010000000803F000000000000803F040000010025004400A71E750020006800CF1E6100300010000000803F000000000000803F04000001002B001001E8006E0020006300E11E20006C00DB1E6E00300010000000803F000000000000803F04000001002900440069006500730065006C00200044004F00300010000000803F000080400000803F0400000100230052006F006E00200039003500300010000000803F000000000000803F04000001002B005300AF1E7400200054006800E900700020003100300010000000803F000000000000803F0400000100250054006800E9007000200049004900FF01000000000000000A0000000A000000280000002800000000000000000000005A0000004200EA0020005400F4006E00670020006E006800F11E610020006E00F3006E006700200031004300E1007400200054007200AF1E6E006700200031004400A71E750020006800CF1E61001001E8006E0020006300E11E20006C00DB1E6E006D0061007A0075007400200046004F004E006800F11E610020001101B001DD1E6E00670052006F006E00200038003300390035005300AF1E7400200054006800E90070002000310054006800E90070002000490049000C00000040000000008113000000810B13000081071E0000810A25000081082F0000810A370000C00441000081024500000102470000810A490000010753000000
GO
CREATE STATISTICS [_WA_Sys_00000003_09A971A2] ON [dbo].[tblLoaiHang]([DanhMucHangID]) WITH STATS_STREAM = 0x010000000100000000000000000000008048D50B000000002C02000000000000EC010000000000006C024F006C00000009001200000000000000000004000001070000009133090148A10000090000000000000009000000000000000000803FCDCC4C3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001900000000001041000010410000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000900000000000000020000000000000003C00000000000000580000000000000074000000000000001000190000004040000000000000803F0101000000000000000400001000190000004040000000000000803F010200000000000000040000100019000000803F0000803F0000803F010400000000000000040000100019000000803F000000000000803F010500000000000000040000
GO
UPDATE STATISTICS [dbo].[tblLoaiHang]([PK_LoaiHang_1]) WITH STATS_STREAM = 0x010000000100000000000000000000004256697D00000000500200000000000010020000000000006C0300006C0000000900120000000000000000000000803F070000008C33090148A10000090000000000000009000000000000000000803F398EE33D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000500000005000000010000001900000000001041000010410000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000B4000000000000002800000000000000440000000000000060000000000000007C000000000000009800000000000000100019000000803F000000000000803F010100000000000000040000100019000000803F0000803F0000803F010300000000000000040000100019000000803F0000803F0000803F010500000000000000040000100019000000803F0000803F0000803F010700000000000000040000100019000000803F0000803F0000803F010900000000000000040000, ROWCOUNT = 15, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[tblLoaiHang] ON
INSERT [dbo].[tblLoaiHang] ([LoaiHangID], [TenLoaiHang], [DanhMucHangID]) VALUES (CAST(1 AS Numeric(18, 0)), N'Ron 83', CAST(16 AS Numeric(18, 0)))
INSERT [dbo].[tblLoaiHang] ([LoaiHangID], [TenLoaiHang], [DanhMucHangID]) VALUES (CAST(2 AS Numeric(18, 0)), N'Ron 92', CAST(17 AS Numeric(18, 0)))
INSERT [dbo].[tblLoaiHang] ([LoaiHangID], [TenLoaiHang], [DanhMucHangID]) VALUES (CAST(3 AS Numeric(18, 0)), N'Ron 95', CAST(18 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[tblLoaiHang] OFF
/****** Object:  StoredProcedure [dbo].[SP_UpdateKhuVuc]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateKhuVuc] 
(
	@ID numeric(18,0),
	@Name nvarchar(250)
)

AS
BEGIN
	update tblkhuvuc set TenKhuVuc = @Name where KhuVucID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertNguoiDung]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_InsertNguoiDung]
(
	@TaiKhoan nvarchar(250),
	@MatKhau nvarchar(250),
	@HoTen	nvarchar(250),
	@Email nvarchar(250),
	@SoDienThoai nvarchar(250),
	@QuyenHan nvarchar(250)
)
AS
BEGIN
	insert into tblnguoidung values(@TaiKhoan,@MatKhau,@HoTen,@Email,@SoDienThoai,@QuyenHan)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateNguoiDung]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateNguoiDung]
(
	@TaiKhoan nvarchar(250),
	@MatKhau nvarchar(250),
	@HoTen	nvarchar(250),
	@Email nvarchar(250),
	@SoDienThoai nvarchar(250),
	@QuyenHan nvarchar(250)
) AS
BEGIN
	update tblnguoidung 
	set MatKhau = @MatKhau,
		HoTen = @Hoten,
		Email = @Email,
		SoDienThoai = @SoDienThoai,
		QuyenHan = @QuyenHan
	where TaiKhoan = @TaiKhoan
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateLoaiHang]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateLoaiHang] (
	@LoaiHangID numeric(18,0),
	@TenLoaiHang nvarchar(250),
	@DanhMucHangID numeric(18,0)
) AS
BEGIN
	update tblLoaiHang set TenLoaiHang = @TenLoaiHang , DanhMucHangID=@DanhMucHangID
						where LoaiHangID=@LoaiHangID
END
GO
/****** Object:  Table [dbo].[tblSanPham]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSanPham](
	[SanPhamID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[KhuVucID] [numeric](18, 0) NULL,
	[DonViTinhID] [numeric](18, 0) NULL,
	[LoaiHangID] [numeric](18, 0) NULL,
	[HangSanXuat] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[DiemGiaoHang] [nvarchar](max) NULL,
	[ThongSoKhac] [nvarchar](max) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[SanPhamID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_1CBC4616] ON [dbo].[tblSanPham]([KhuVucID]) WITH STATS_STREAM = 0x010000000100000000000000000000003621725B00000000E401000000000000A4010000000000006C0200006C00000009001200000000000000000061006D00070000004EB4AD0049A10000030000000000000003000000000000000000803FABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000002000000010000001900000000001041000040400000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000480000000000000010000000000000002C00000000000000100019000000803F000000000000803F010100000000000000040000100019000000803F0000803F0000803F010300000000000000040000
GO
CREATE STATISTICS [_WA_Sys_00000003_1CBC4616] ON [dbo].[tblSanPham]([DonViTinhID]) WITH STATS_STREAM = 0x010000000100000000000000000000008D59BB2B00000000C00100000000000080010000000000006C0211066C00000009001200000000000000000000000000070000004EB4AD0049A1000003000000000000000300000000000000000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001900000000001041000040400000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000240000000000000008000000000000001000190000004040000000000000803F010100000000000000040000
GO
CREATE STATISTICS [_WA_Sys_00000004_1CBC4616] ON [dbo].[tblSanPham]([LoaiHangID]) WITH STATS_STREAM = 0x0100000001000000000000000000000035E6A7C900000000E401000000000000A4010000000000006C0200006C00000009001200000000000000000000000000070000004EB4AD0049A10000030000000000000003000000000000000000803FABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000002000000010000001900000000001041000040400000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000480000000000000010000000000000002C00000000000000100019000000803F000000000000803F010100000000000000040000100019000000803F0000803F0000803F010300000000000000040000
GO
CREATE STATISTICS [_WA_Sys_00000005_1CBC4616] ON [dbo].[tblSanPham]([HangSanXuat]) WITH STATS_STREAM = 0x01000000010000000000000000000000BA623DB4000000002A02000000000000EA01000000000000E7020000E7000000FFFF00000000000008D000340000000007000000E663B20049A10000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000000400000404000000000000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000004200000000000000860000000000000010000000000000002900000000000000300010000000803F000000000000803F040000010019003100300010000000803F0000803F0000803F040000010019003300FF01000000000000000300000003000000280000002800000000000000000000000300000031003200330004000000400000000081010000008101010000010102000000
GO
CREATE STATISTICS [_WA_Sys_00000006_1CBC4616] ON [dbo].[tblSanPham]([Model]) WITH STATS_STREAM = 0x010000000100000000000000000000008679787400000000CB010000000000008B01000000000000E7021106E7000000FFFF00000000000008D000348000B81707000000E663B20049A1000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000404000004040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000002F00000000000000FF01000000030000000300000001000000280000002800000000000000000000000000000001000000000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_1CBC4616] ON [dbo].[tblSanPham]([DiemGiaoHang]) WITH STATS_STREAM = 0x010000000100000000000000000000006ACA6AC700000000AB030000000000006B03000000000000E7020000E7000000FFFF00000000000008D000340000000007000000E663B20049A100000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000ABAA72420000404000000000ABAA72420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000001301000000000000070200000000000018000000000000006D00000000000000C000000000000000300010000000803F000000000000803F0400000100550031003200330020004C00FD00200043006800ED006E006800200054006800AF1E6E0067002000500031003100200051003300200054005000480043004D00300010000000803F000000000000803F04000001005300320032002F003100330020004E00670075007900C51E6E00200054007200E30069002000500031003000200051003500200054005000480043004D00300010000000803F000000000000803F04000001005300350035003700200054007200A71E6E0020004800B0016E00670020001101A11E6F002000500039002000510031003000200054005000480043004D00FF01000000000000000300000003000000280000002800000000000000000000005B00000031003200330020004C00FD00200043006800ED006E006800200054006800AF1E6E0067002000500031003100200051003300200054005000480043004D00320032002F003100330020004E00670075007900C51E6E00200054007200E30069002000500031003000200051003500200054005000480043004D00350035003700200054007200A71E6E0020004800B0016E00670020001101A11E6F002000500039002000510031003000200054005000480043004D00040000004000000000811F000000811E1F0000011E3D000000
GO
CREATE STATISTICS [_WA_Sys_00000008_1CBC4616] ON [dbo].[tblSanPham]([ThongSoKhac]) WITH STATS_STREAM = 0x010000000100000000000000000000003039710200000000CB010000000000008B01000000000000E7020020E7000000FFFF00000000000008D000340000000007000000EA63B20049A1000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000404000004040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000002F00000000000000FF01000000030000000300000001000000280000002800000000000000000000000000000001000000000000000000
GO
UPDATE STATISTICS [dbo].[tblSanPham]([PK_SanPham]) WITH STATS_STREAM = 0x010000000100000000000000000000005BD1A56900000000E401000000000000A4010000000000006C0300006C00000009001200000000000000000003000000070000006AB4AD0049A10000030000000000000003000000000000000000803FABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000002000000010000001900000000001041000040400000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000480000000000000010000000000000002C00000000000000100019000000803F000000000000803F010100000000000000040000100019000000803F0000803F0000803F010300000000000000040000, ROWCOUNT = 9, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[tblSanPham] ON
INSERT [dbo].[tblSanPham] ([SanPhamID], [KhuVucID], [DonViTinhID], [LoaiHangID], [HangSanXuat], [Model], [DiemGiaoHang], [ThongSoKhac]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), N'Công Ty VLXD A', N'Model 1', N'22/13 Nguyễn Trãi P10 Q5 TPHCM', N'Thông số 1')
INSERT [dbo].[tblSanPham] ([SanPhamID], [KhuVucID], [DonViTinhID], [LoaiHangID], [HangSanXuat], [Model], [DiemGiaoHang], [ThongSoKhac]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), N'Công Ty VLXD B', N'Model 1', N'557 Trần Hưng đạo P9 Q10 TPHCM', N'Thông số 2')
INSERT [dbo].[tblSanPham] ([SanPhamID], [KhuVucID], [DonViTinhID], [LoaiHangID], [HangSanXuat], [Model], [DiemGiaoHang], [ThongSoKhac]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(15 AS Numeric(18, 0)), N'Công Ty VLXD C', N'Model 1', N'123 Lý Chính Thắng P11 Q3 TPHCM', N'Thông số 3')
SET IDENTITY_INSERT [dbo].[tblSanPham] OFF
/****** Object:  StoredProcedure [dbo].[SP_InsertLoaiHang]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertLoaiHang] (
	@TenLoaiHang nvarchar(250),
	@DanhMucHangID numeric(18,0)
) AS
BEGIN
	insert into tblLoaiHang values(@TenLoaiHang,@DanhMucHangID)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteLoaiHang]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteLoaiHang] (
	@LoaiHangID numeric(18,0) 
) AS
BEGIN
	delete from tblLoaiHang	where LoaiHangID=@LoaiHangID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateSanPham]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateSanPham]
	(
		@SanPhamID numeric(18, 0),
		@KhuVucID numeric(18, 0),
		@DonViTinhID numeric(18, 0),
		@LoaiHangID	numeric(18, 0),
		@HangSanXuat nvarchar(MAX),
		@Model	nvarchar(MAX),
		@DiemGiaoHang	nvarchar(MAX),
		@ThongSoKhac	nvarchar(MAX)
)
AS
BEGIN
	update tblSanPham
	 set 
KhuVucID=@KhuVucID ,
DonViTinhID=@DonViTinhID ,
LoaiHangID=@LoaiHangID,	
HangSanXuat =@HangSanXuat ,
		Model	=@Model	,
DiemGiaoHang	=	@DiemGiaoHang	,
		ThongSoKhac=@ThongSoKhac
where SanPhamID=@SanPhamID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteSanPham]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteSanPham]
	(
		@SanPhamID numeric(18, 0) 
)
AS
BEGIN
	delete from tblSanPham
where SanPhamID=@SanPhamID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertSanPham]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertSanPham]
	(
		
		@KhuVucID numeric(18, 0),
		@DonViTinhID numeric(18, 0),
		@LoaiHangID	numeric(18, 0),
		@HangSanXuat nvarchar(MAX),
		@Model	nvarchar(MAX),
		@DiemGiaoHang	nvarchar(MAX),
		@ThongSoKhac	nvarchar(MAX),
		@SanPhamID numeric(18, 0) output
)
AS
BEGIN
	insert into tblSanPham values(@KhuVucID ,@DonViTinhID ,@LoaiHangID,	@HangSanXuat ,	@Model	,	@DiemGiaoHang	,	@ThongSoKhac)
	set @SanPhamID = SCOPE_IDENTITY()
END
GO
/****** Object:  Table [dbo].[tblGia]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGia](
	[GiaID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NguonGia] [nvarchar](250) NULL,
	[Gia] [money] NULL,
	[ThoiDiem] [datetime] NULL,
	[SanPhamID] [numeric](18, 0) NULL,
	[DonViTinhGiaID] [numeric](18, 0) NULL,
	[VAT] [bit] NULL,
 CONSTRAINT [PK_tblGia] PRIMARY KEY CLUSTERED 
(
	[GiaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_25518C17] ON [dbo].[tblGia]([NguonGia]) WITH STATS_STREAM = 0x010000000100000000000000000000002CFDF041000000009E020000000000005E02000000000000E7020000E7000000F40100000000000008D0003401000000070000003F277F004AA100000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000555595410000404000000000555595410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000009500000000000000FA00000000000000180000000000000047000000000000007600000000000000300010000000803F000000000000803F04000001002F004300F4006E00670020005400790020004300500020004100300010000000803F000000000000803F04000001002F004300F4006E00670020005400790020004300500020004200300010000000803F000000000000803F04000001001F005300490056004300FF0100000000000000030000000300000028000000280000000000000000000000110000004300F4006E0067002000540079002000430050002000410042005300490056004300050000004000000000C00B00000081010B000001010C000001040D000000
GO
CREATE STATISTICS [_WA_Sys_00000003_25518C17] ON [dbo].[tblGia]([Gia]) WITH STATS_STREAM = 0x01000000010000000000000000000000AED64E9300000000E201000000000000A2010000000000003C0200003C0000000800130400000000000000007F000000070000003F277F004AA10000030000000000000003000000000000000000803FABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000002000000010000001800000000000041000040400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000460000000000000010000000000000002B00000000000000100018000000803F000000000000803F00C2EB0B00000000040000100018000000803F0000803F0000803F00EF1C0D00000000040000
GO
CREATE STATISTICS [_WA_Sys_00000004_25518C17] ON [dbo].[tblGia]([ThoiDiem]) WITH STATS_STREAM = 0x010000000100000000000000000000009FFD102200000000BF010000000000007F010000000000003D0211063D000000080017030000000000000000000000000700000043277F004AA1000003000000000000000300000000000000000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001800000000000041000040400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000230000000000000008000000000000001000180000004040000000000000803F0000000042A10000040000
GO
CREATE STATISTICS [_WA_Sys_00000005_25518C17] ON [dbo].[tblGia]([SanPhamID]) WITH STATS_STREAM = 0x01000000010000000000000000000000016BB0CD00000000C00100000000000080010000000000006C0211066C000000090012000000000000000000000000000700000045747B004AA1000003000000000000000300000000000000000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001900000000001041000040400000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000240000000000000008000000000000001000190000004040000000000000803F010100000000000000040000
GO
CREATE STATISTICS [_WA_Sys_00000006_25518C17] ON [dbo].[tblGia]([DonViTinhGiaID]) WITH STATS_STREAM = 0x010000000100000000000000000000001F71A5C100000000C00100000000000080010000000000006C0211066C000000090012000000000000000000000000000700000040747B004AA1000003000000000000000300000000000000000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001900000000001041000040400000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000240000000000000008000000000000001000190000004040000000000000803F010100000000000000040000
GO
CREATE STATISTICS [_WA_Sys_00000007_25518C17] ON [dbo].[tblGia]([VAT]) WITH STATS_STREAM = 0x01000000010000000000000000000000557B2FAE00000000B80100000000000078010000000000006802000068000000010001000000000000000000000000000700000043277F004AA1000003000000000000000300000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F00004040000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000001C0000000000000008000000000000001000110000004040000000000000803F01040000
GO
UPDATE STATISTICS [dbo].[tblGia]([PK_tblGia]) WITH STATS_STREAM = 0x010000000100000000000000000000009EFA518F00000000E401000000000000A4010000000000006C0300006C000000090012000000000000000000000000000700000040747B004AA10000030000000000000003000000000000000000803FABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000002000000010000001900000000001041000040400000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000480000000000000010000000000000002C00000000000000100019000000803F000000000000803F010200000000000000040000100019000000803F0000803F0000803F010400000000000000040000, ROWCOUNT = 3, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[tblGia] ON
INSERT [dbo].[tblGia] ([GiaID], [NguonGia], [Gia], [ThoiDiem], [SanPhamID], [DonViTinhGiaID], [VAT]) VALUES (CAST(2 AS Numeric(18, 0)), N'Công Ty CP A', 20000.0000, CAST(0x0000A14200000000 AS DateTime), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), 1)
INSERT [dbo].[tblGia] ([GiaID], [NguonGia], [Gia], [ThoiDiem], [SanPhamID], [DonViTinhGiaID], [VAT]) VALUES (CAST(3 AS Numeric(18, 0)), N'Công Ty CP B', 22000.0000, CAST(0x0000A14200000000 AS DateTime), CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), 1)
INSERT [dbo].[tblGia] ([GiaID], [NguonGia], [Gia], [ThoiDiem], [SanPhamID], [DonViTinhGiaID], [VAT]) VALUES (CAST(4 AS Numeric(18, 0)), N'SIVC', 21000.0000, CAST(0x0000A14200000000 AS DateTime), CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[tblGia] OFF
/****** Object:  StoredProcedure [dbo].[SP_UpdateGia]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_UpdateGia]
(
	@GiaID numeric(18, 0),
	@NguonGia nvarchar(250),
	@Gia money,
	@ThoiDiem datetime,
	@SanPhamID numeric(18, 0),
	@DonViTinhGiaID numeric(18, 0),
	@VAT bit
)
AS
BEGIN
	update tblGia set NguonGia=@NguonGia,Gia=@Gia,ThoiDiem=@ThoiDiem,SanPhamID=@SanPhamID,DonViTinhGiaID=@DonViTinhGiaID,VAT=@VAT where  GiaID=@GiaID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertGia]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_InsertGia]
(
	@NguonGia nvarchar(250),
	@Gia money,
	@ThoiDiem datetime,
	@SanPhamID numeric(18, 0),
	@DonViTinhGiaID numeric(18, 0),
	@VAT bit
)
AS
BEGIN
	insert into tblGia values (@NguonGia,@Gia,@ThoiDiem,@SanPhamID,@DonViTinhGiaID,@VAT)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteGia]    Script Date: 10/05/2015 10:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_DeleteGia]
(
	@GiaID numeric(18, 0) 
)
AS
BEGIN
	delete from tblGia where  GiaID=@GiaID
END
GO
/****** Object:  ForeignKey [FK_tblLoaiHang_tblDanhMucHang]    Script Date: 10/05/2015 10:45:06 ******/
ALTER TABLE [dbo].[tblLoaiHang]  WITH CHECK ADD  CONSTRAINT [FK_tblLoaiHang_tblDanhMucHang] FOREIGN KEY([DanhMucHangID])
REFERENCES [dbo].[tblDanhMucHang] ([DanhMucHangID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblLoaiHang] CHECK CONSTRAINT [FK_tblLoaiHang_tblDanhMucHang]
GO
/****** Object:  ForeignKey [FK_tblSanPham_tblDonViTinh]    Script Date: 10/05/2015 10:45:06 ******/
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_tblSanPham_tblDonViTinh] FOREIGN KEY([DonViTinhID])
REFERENCES [dbo].[tblDonViTinh] ([DonViTinhID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_tblSanPham_tblDonViTinh]
GO
/****** Object:  ForeignKey [FK_tblSanPham_tblKhuVuc]    Script Date: 10/05/2015 10:45:06 ******/
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_tblSanPham_tblKhuVuc] FOREIGN KEY([KhuVucID])
REFERENCES [dbo].[tblKhuVuc] ([KhuVucID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_tblSanPham_tblKhuVuc]
GO
/****** Object:  ForeignKey [FK_tblSanPham_tblLoaiHang]    Script Date: 10/05/2015 10:45:06 ******/
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_tblSanPham_tblLoaiHang] FOREIGN KEY([LoaiHangID])
REFERENCES [dbo].[tblLoaiHang] ([LoaiHangID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_tblSanPham_tblLoaiHang]
GO
/****** Object:  ForeignKey [FK_tblGia_tblDonViTinhGia]    Script Date: 10/05/2015 10:45:06 ******/
ALTER TABLE [dbo].[tblGia]  WITH CHECK ADD  CONSTRAINT [FK_tblGia_tblDonViTinhGia] FOREIGN KEY([DonViTinhGiaID])
REFERENCES [dbo].[tblDonViTinhGia] ([DonViTinhGiaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblGia] CHECK CONSTRAINT [FK_tblGia_tblDonViTinhGia]
GO
/****** Object:  ForeignKey [FK_tblGia_tblSanPham]    Script Date: 10/05/2015 10:45:06 ******/
ALTER TABLE [dbo].[tblGia]  WITH CHECK ADD  CONSTRAINT [FK_tblGia_tblSanPham] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[tblSanPham] ([SanPhamID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblGia] CHECK CONSTRAINT [FK_tblGia_tblSanPham]
GO
